:root {
    --main-color-black: black;
    --white: white;
    --courseco-red: #E31D3A;
    --courseco-blue: #1D6FB4;
}

.form-horizontal {
    align-items: center;
    background-color: var(--courseco-red);
    border-radius: 20px;
    text-align: center;
    margin: auto;
    width: 70%;
    height: 70%;
    padding: 20px 0px;
    position: relative;
    color: var(--white)
}

.form-horizontal .form-control {
    border-radius: 20px;
    background-color: #E31D3A;
    border-color: var(--courseco-red);
    position: relative;
    color: var(--white)
}

label {
    margin-bottom: 10px;
}

.container {
    display: grid;
    place-content: center;
}

img {
    max-width: 100%;
}

a::before {
    color: white;
}

input {
    border-radius: 15px;
    border-color: var(--courseco-red);
}

a#signup {
    color: lightblue;
}