<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

        <div class="form-bg">
            <div class="container">
                <div class="row-justify-content-center">
                    <div> 
                        <a href="{{ url_for('html.render_homepage') }}">
                            <img src="/static/Courseco-logo.png" alt="Courseco-logo">
                        </a>                        
                    <form method="POST" action="" class="form-horizontal"> 
                        <h1>Login</h1>
                        <p>Don't have an account? <a href="register" id="signup">Sign-up</a></p>
                        <fieldset>
                            <div class="form-group">
                                {{ form.hidden_tag() }}
                                {{ form.username(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.password(class="form-control") }}
                            </div class="submit-button">
                            {{ form.submit(class="btn btn-primary") }}
                        </fieldset>
                    </form>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>