<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="form-bg">
        <div class="container">
            <div class="row-justify-content-center">
                <div>
                    <img src="/static/Courseco-logo.png" alt="Courseco-logo">
                <form method="POST" action="" class="form-horizontal">
                    <h1>Register Page</h1>
                    <p>Already have an account? <a href="{{ url_for('html.render_homepage') }}" id="login">Log In</a></p>
                    <fieldset>
                        <div class="form-group">
                            {{ form.hidden_tag() }}
                            {{ form.username(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.password(class="form-control") }}
                        </div class="submit-button">
                        {{ form.submit(class="btn btn-primary") }}
                    </fieldset>
                </form>                    
                </div>
            </div>
        </div>
    </div> 
</body>
</html>