<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="../static/schedule.css">
    <script src="schedule.js"></script>
</head>
<body>
    <img src="../static/Courseco-logo.png" alt="Courseco-logo">
    <div>
    </div>
    <table>
        <tr>
            <th>Time</th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        {% for hour in range(8, 20) %}
            <tr>
                <td>{{ hour }}:00</td>
                {% for day in ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'] %}
                    {% set course_found = false %}
                    {% for course in courses %}
                        {% if course.start_time == hour and course.day == day and course.is_registered %}
                            <td rowspan="2" class="highlight">
                                <a href="#">{{ course.name }}</a>
                            </td>
                            {% set course_found = true %}
                        {% endif %}
                    {% endfor %}
                    {% if not course_found %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>
